{% extends "base2.html" %}
{% block title %}About{% endblock %}
{% block head_specs %}
<link
      href="https://uploads-ssl.webflow.com/62e8b794c129c6d31dfb3e87/css/g-ks-dandy-site.webflow.e26959d40.css"
      rel="stylesheet"
      type="text/css"
    />
{% endblock %}
{% block content %}

    <div class="section cc-home-wrap">
      <div class="intro-header cc-subpage">
        <div class="intro-content">
          <div class="heading-jumbo">About Airflex<br /></div>
        </div>
      </div>
      <div class="container">
        <div class="section-heading-wrap">
          <div class="label cc-light">What we are best at</div>
          <h2>Our Services</h2>
          <p>
            <strong>Electricity use is on the rise</strong>, and<strong
            > </strong>18% of electricity comes from operating our own homes. A
            significant portion of that electricity, 72% to be exact, is
            utilized by heating and cooling;
            <strong
              >to reduce AC usage is to reduce our carbon footprint, electrical
              usage, and our electrical bill.</strong
            >
            Reduced utility bills are a homeowner’s dream, but minimizing AC
            usage in an objective, precise way is difficult as most bills don’t
            show how much was spent on each utility.<br />‍<br />Our
            solution,<strong> AirFlex, is the</strong>
            <strong
              >one-size-fits-all solution to objectively measure your electrical
              usage</strong
            >
            in your pursuit to beat the heat. AirFlex will take information and
            use it to calculate an estimated electrical bill; this technology
            <strong
              >is then used to calculate an optimal AC temperature and hours of
              usage to meet a monetary goal. </strong
            >AirFlex’s technology is not limited to air conditioners; fans can
            also be calculated down to the cent. AirFlex also
            <strong
              >has the capability to store this data and use it to visualize
              your progress over time</strong
            >
            to make sure that you
            <strong>keep your electrical output (and bill) low;</strong> this is
            show on the AC Usage page.<br />
          </p>
        </div>
      </div>
      <hr class="mt-2 mb-3" />
      <br/>
      <div class="container">
        <div class="motto-wrap">
          <div class="heading-jumbo-small">A project driven by passion</div>
        </div>
        <div class="divider"></div>
        <div class="about-story-wrap">
          <p class="paragraph-light">
            Airflex started as a simple, boilerplate website; a project meant,
            ultimately, for nothing more than submission to a hackathon by two
            stripling programmers. But the project that started as a means for
            learning slowly become a medium for passion, and weeks after the
            hackathon ended, the project continued. We, the programmers, driven
            by hunger for a functional, completed product built the website you
            see right now in about 2 weeks. <br /><br />AirFlex was a challenge
            to construct. Stepping out of data science and back end calculations
            was difficult, and working with a front end for the first time was
            definitely complicated. The greatest challenge was indubitably
            connecting the back end to the front end for both team members.
            Working with a team was in and of itself a challenge, as having to
            communicate complex programming ideas to other people was a
            completely alien concept to both members, who were both conditioned
            by years of solo programming. <br /><br />Overall, this project gave
            us the opportunity to expand our skillsets in communication,
            organization, and full-stack programming. We love hackathons and
            would love to do more in the future. Check out the github link if
            you would like to see the programming for this website. We thank you
            for paying the a visit and genuinely hope Airflex can help you to
            reduce AC expenditure.<br /><br />- Team GKCV
          </p>
        </div>
        <div class="divider"></div>
      </div>
      <br/>
      <div class="container">
          <div style = "text-align:center" class="heading-jumbo-small">Contact</div>
        <div class="divider"></div>
        <div class="about-story-wrap">
          <p class="paragraph-light">
            You can contact either of us through these emails: <br/>
            - Gavin-kai Vida robotruleslego@gmail.com <br/>
            - Christopher Vu christophervu4@gmail.com 
          </p>
        </div>
        <div class="divider"></div>
      </div>
    </div>
{% endblock %}