{% extends "base2.html" %} {% block title %}Air Calculator{% endblock %} {%
block head_specs %}
<link
  href="https://uploads-ssl.webflow.com/62e8b794c129c6d31dfb3e87/css/g-ks-dandy-site.webflow.19a544437.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

{% if display == 1 %}
<div class="section cc-home-wrap">
  <section class="features-list wf-section">
    <div style = "text-align: center; border: 10px outset rgb(89, 155, 255); border-radius: 10px; background-color: rgb(89, 155, 255)">
        <hr class="mt-2 mb-3" />
          <h2 style = "font-weight: bold">Your Results:</h2>
          <h4>- Currently, you spend about <b>${{results[0] * 30}}</b> on your AC monthly and <b>${{results[0]}}</b> on your AC daily.</h4>
          <h4>- To reach budget goals, you should decrease daily usage time to <b>{{results[1]}} hours.</b></h4>
          <h4>- And you should increase set temperature to <b>{{results[2]}} degrees.</b></h4>
        <hr class="mt-2 mb-3" />
      </div>
  </section>
</div>
{% else %}
<div class="section cc-home-wrap">
  <section class="features-list wf-section">
    <div class="container-2">
      <div class="features-wrapper-two">
        <div class="features-left">
          <h1 class="heading-3">Let&#x27;s Calculate Your AC</h1>
          <p class="features-paragraph">
            Global temperatures are on the rise. Save money and energy while
            staying cool through<br />Airflex&#x27;s advanced Air Conditioning
            Calculator.
          </p>
        </div>
        <ul role="list" class="features-right w-list-unstyled">
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph">
              Discover how much you spend on an average day, and ways to save
              money
            </p>
          </li>
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ace5e12aae4_portfolio%204%20-%20wide.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph-2">
              Keep track of your progress, and slowly increase savings over time
            </p>
          </li>
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a55c612aae2_portfolio%202%20-%20wide.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph-3">
              Find a suggested temperature based on local climate and AC
              effeciency
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
{% endif %}
<section class="hero-heading-center wf-section">
  <!--Next Question Request Script-->
  <br />
  
  <!--Form scripts-->
  <script type = "text/javascript">
    function LoadNextQuestion(QuestionID,parent = null) {
      let el = document.getElementById(QuestionID);
      if (parent == null){
        el.style = "display:block";
        el.scrollIntoView(alignToTop = true,{behavior: "smooth", block: "end", inline: "nearest"})
      }
      else {
        if (document.getElementById(parent).value.length != 0){
          el.style = "display:block";
          el.scrollIntoView(alignToTop = true,{behavior: "smooth", block: "end", inline: "nearest"})
        }
      }
    }
  </script>

  <form method="POST" onkeydown="return event.key != 'Enter';">
    <div class="form-group">
    <!--HOURS-->
    <div class="form-group" >
      <div class="container-2">
        <hr class="mt-2 mb-3"/>
        <h2 class="centered-heading margin-bottom-32px">
          How many hours did you have your AC turned on today (estimate)?
        </h2>
      </div>
      <label for="hours">Hours ranging from 0.0 to 24.0</label>
      <input
        type="number"
        class="form-control"
        id="hours"
        name="hours"
        placeholder="E.g. 12"
        step = "0.5"
        min="0"
        max="24"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('temp_form',parent = 'hours');}"
      />
      <br />
    </div>

    <!--TEMP-->
    <div class="form-group" style="display: none" id="temp_form">
      <div class="container-2">
        <hr class="mt-2 mb-3"/>
        <h2 class="centered-heading margin-bottom-32px">
          What temperature was your AC set to today?
        </h2>
      </div>
      <label for="temp">Fahrenheit ranging from 0 to 100</label>
      <input
        type="number"
        class="form-control"
        id="temp"
        name="temp"
        placeholder="E.g. 72"
        step = "1"
        min="0"
        max="100"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('day-avg-temp_form',parent = 'temp');}"
      />
      <br />
    </div>


    <!--AVG_LOCAL_TEMP_QUESTION-->
    <div class="form-group" style="display: none" id="local_temp_question">
      <div class="container-2">
        <hr class="mt-2 mb-3"/>
        <h2 class="centered-heading margin-bottom-32px">
          Would you like to use average temperature data for your area?
        </h2>
      </div>
      <div align = "center">
        <div class="btn-group-lg" role="group" aria-label="Basic radio toggle button group">
          <input style = "appearance: none" onclick = "LoadNextQuestion('major-city_form')" type="radio" class="btn-check" name="use-average" id = "use-average-yes" value = "1" autocomplete="off" checked>
          <label class="btn btn-primary" for="use-average-yes">Yes</label>
          <input style = "appearance: none" onclick = "LoadNextQuestion('day-avg-temp_form')" type="radio" class="btn-check" name="use-average" id = "use-average-no" value = "0" autocomplete="off">
          <label class="btn btn-primary" for="use-average-no">No</label>
        </div>
      </div>
    </div>

    <!--AVG_TEMP_AND_HIGH-->
    <div class="form-group" style="display: none" id="day-avg-temp_form">
      <div class="container-2">
        <hr class="mt-2 mb-3"/>
        <h2 class="centered-heading margin-bottom-32px">
          What was the average temperature in your area today?
        </h2>
      </div>
      <label for="temp">Fahrenheit ranging from -150 to 150</label>
      <input
        type="number"
        class="form-control"
        id="day-avg-temp"
        name="day-avg-temp"
        placeholder="E.g. 88"
        step = "1"
        min="-150"
        max="150"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('day-high-temp_form',parent = 'day-avg-temp');}"
      />
      <br />
    </div>
    <div class="form-group" style="display: none" id="day-high-temp_form">
      <div class="container-2">
        <hr class="mt-2 mb-3"/>
        <h2 class="centered-heading margin-bottom-32px">
          What was the high temperature in your area today?
        </h2>
      </div>
      <label for="temp">Fahrenheit ranging from -150 to 150</label>
      <input
        type="number"
        class="form-control"
        id="day-high-temp"
        name="day-high-temp"
        placeholder="E.g. 97"
        step = "1"
        min="-150"
        max="150"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('save_form',parent = 'day-high-temp');}"
      />
      <br />
    </div>

  <!--MAJOR_CITY-->
  </div>
  <div class="form-group" style="display: none" id="major-city_form">
    <div class="container-2">
      <hr class="mt-2 mb-3"/>
      <h2 class="centered-heading margin-bottom-32px">
        What is your closest major city?
      </h2>
    </div>
    <input
      type="text"
      class="form-control"
      id="major-city"
      name="major-city"
      placeholder="E.g. Long Beach"
      onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('month_form',parent = 'major-city');}"
    />
    <br />
  </div>
</div>
<div class="form-group" style="display: none" id="month_form">
  <div class="container-2">
    <hr class="mt-2 mb-3"/>
    <h2 class="centered-heading margin-bottom-32px">
      What month is it?
    </h2>
  </div>
  <div align = "center">
    <select name="month" class = "form-select" id="month_select">
      <option value='January'>January</option> 
      <option value='February'>February</option> 
      <option value='March'>March</option> 
      <option value='April'>April</option> 
      <option value='May'>May</option> 
      <option value='June'>June</option> 
      <option value='July'>July</option> 
      <option value='August'>August</option> 
      <option value='September'>September</option> 
      <option value='October'>October</option> 
      <option value='November'>November</option> 
      <option value='December'>December</option> 
    </select>
  <br/>
  <br/>
  <button class = "btn btn-secondary" style="height:50px;width:200px" type="button" onclick="LoadNextQuestion('form')">Next</button>
  <br />
  </div>
</div>


  <!--SAVE-->
    <div class="form-group" style="display: none" id="save_form">
      <div class="container-2">
        <hr class="mt-2 mb-3"/>
        <h2 class="centered-heading margin-bottom-32px">
          Would you like to save your data today?
        </h2>
      </div>
        <div align = "center">
          <div class="btn-group-lg" role="group" aria-label="Basic radio toggle button group">
            <input style = "appearance: none" onclick = "LoadNextQuestion('submit_button')" type="radio" class="btn-check" name="save" id = "save-yes" value = "1" autocomplete="off" checked>
            <label class="btn btn-primary" for="save-yes">Yes</label>
            <input style = "appearance: none" onclick = "LoadNextQuestion('submit_button')" type="radio" class="btn-check" name="save" id = "save-no" value = "0" autocomplete="off">
            <label class="btn btn-primary" for="save-no">No</label>
          </div>
          <button type="submit" style = "display:none" id = "submit_button" class="btn btn-primary">Done</button>
        </div>
      </form>
    </div>

    <div align = center>
      <button type="button"onclick = "window.location.reload();" class="btn btn-primary">Reset</button>
    </div>
  </form>
</section>
{% endblock %}
