{% extends "base2.html" %} {% block title %}Fan Calculator{% endblock %} {%
block head_specs %}
<link
  href="https://uploads-ssl.webflow.com/62e8b794c129c6d31dfb3e87/css/g-ks-dandy-site.webflow.19a544437.css"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

{% if display == 1 %}
<div align = "center" class="section cc-home-wrap">
  <section class="features-list wf-section">
    <div style = "border: 10px outset rgb(89, 155, 255); border-radius: 10px; background-color: rgb(89, 155, 255)">
        <h2 style = "font-weight: bold">Your Results:</h2>
        <h2>Your spend an average of <b>{{bill}} cents daily</b> on this fan and <b>{{bill*30}} cents monthly</b>.</h2>
        <h4>Compared to how much you spend on your AC, you are saving a lot of money with this fan</h4>
    </div>
  </section>
</div>
{% else %}
<div class="section cc-home-wrap">
  <section class="features-list wf-section">
    <div class="container-2">
      <div class="features-wrapper-two">
        <div class="features-left">
          <h1 class="heading-3">Let&#x27;s Calculate Your Fan</h1>
          <p class="features-paragraph">
            Find alternatives to your AC with the Fan Calculator
          </p>
        </div>
        <ul role="list" class="features-right w-list-unstyled">
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a28a812aad9_placeholder%202.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph">
              Discover how much you spend on fans on an average day...
            </p>
          </li>
          <li class="features-block-two">
            <img
              src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ace5e12aae4_portfolio%204%20-%20wide.svg"
              loading="lazy"
              alt=""
              class="features-image"
            />
            <p class="paragraph-2">
              Find out how much you save by using fans instead of your AC...
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
{% endif %}
<section class="hero-heading-center wf-section">
  <!--Form scripts-->
  <script>
    function LoadNextQuestion(QuestionID,parent = null) {
      let el = document.getElementById(QuestionID);
      if (parent == null){
        el.style = "display:block";
        el.scrollIntoView(alignToTop = true,{behavior: "smooth", block: "end", inline: "nearest"})
      }
      else {
        if (document.getElementById(parent).value.length != 0){
          el.style = "display:block";
          el.scrollIntoView(alignToTop = true,{behavior: "smooth", block: "end", inline: "nearest"})
        }
      }
    }
  </script>
  <form method="POST" onkeydown="return event.key != 'Enter';">
    <div class="form-group">
    <!--WATTAGE-->
    <div class="form-group" style="display: block" id="wattage_form">
      <hr class="mt-2 mb-3"/>
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What is your fan&#x27;s wattage?
        </h2>
      </div>
      <label for="wattage">Wattage ranging from 10 to 500</label>
      <input
        type="number"
        class="form-control"
        id="wattage"
        name="wattage"
        placeholder="E.g. 55"
        step = "1"
        min="10"
        max="500"
        onkeydown = "if (event.key == 'Enter') {LoadNextQuestion('hours_form',parent = 'wattage');}"
      />
      <br />
      <button class = "btn btn-light" type="button" onclick="LoadNextQuestion('type_form')">
        Not Sure
      </button>
      <br />
    </div>

    <!--TYPE-->
    <div class="form-group" style="display: none" id="type_form">
      <hr class="mt-2 mb-3"/>
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What is your Fan&#x27;s type?
        </h2>
      </div>
      <div align = "center">
        <div class="btn-group-lg" role="group" aria-label="Basic radio toggle button group">
          <input style = "appearance: none" onclick = "LoadNextQuestion('hours_form')" type="radio" class="btn-check" name="type" id = "type-Box" value = "Box" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="type-Box">Box</label>
          <input style = "appearance: none" onclick = "LoadNextQuestion('hours_form')" type="radio" class="btn-check" name="type" id = "type-Ceiling" value = "Ceiling" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="type-Ceiling">Ceiling</label>
          <input style = "appearance: none" onclick = "LoadNextQuestion('hours_form')" type="radio" class="btn-check" name="type" id = "type-Handheld" value = "Handheld" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="type-Handheld">Handheld</label>
          <input style = "appearance: none" onclick = "LoadNextQuestion('hours_form')" type="radio" class="btn-check" name="type" id = "type-Tower" value = "Tower" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="type-Tower">Tower</label>
          <input style = "appearance: none" onclick = "LoadNextQuestion('hours_form')" type="radio" class="btn-check" name="type" id = "type-Table" value = "Table" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="type-Table">Table</label>
        </div>
      </div>
    </div>

    <!--HOURS-->
    <div class="form-group" style="display: none" id="hours_form">
      <hr class="mt-2 mb-3"/>
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          How many hours did you have your fan turned on today (estimate)?
        </h2>
      </div>
      <label for="hours">Hours ranging from 0.0 to 24.0</label>
      <input
        type="number"
        class="form-control"
        id="hours"
        name="hours"
        placeholder="E.g. 12"
        step = "0.5"
        min="0"
        max="24"
        onkeydown = "if (event.key == 'Enter'){LoadNextQuestion('state_form',parent = 'hours');}"
      />
      <br />
    </div>

    <!--STATE-->
    <div class="form-group" style="display: none" id="state_form">
      <hr class="mt-2 mb-3"/>
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          What state do you live in? (used to estimate electricitiy costs)
        </h2>
      </div>
      <div align = "center">
        <select name="state" class = "form-select" id="state_select">
          <option value='Alabama'>Alabama</option> 
          <option value='Alaska'>Alaska</option> 
          <option value='Arizona'>Arizona</option> 
          <option value='Arkansas'>Arkansas</option> 
          <option value='California'>California</option> 
          <option value='Colorado'>Colorado</option> 
          <option value='Connecticut'>Connecticut</option> 
          <option value='Delaware'>Delaware</option> 
          <option value='Florida'>Florida</option> 
          <option value='Georgia'>Georgia</option> 
          <option value='Hawaii'>Hawaii</option> 
          <option value='Idaho'>Idaho</option> 
          <option value='Illinois'>Illinois</option> 
          <option value='Indiana'>Indiana</option> 
          <option value='Iowa'>Iowa</option> 
          <option value='Kansas'>Kansas</option> 
          <option value='Kentucky'>Kentucky</option> 
          <option value='Louisiana'>Louisiana</option> 
          <option value='Maine'>Maine</option> 
          <option value='Maryland'>Maryland</option> 
          <option value='Massachusetts'>Massachusetts</option> 
          <option value='Michigan'>Michigan</option> 
          <option value='Minnesota'>Minnesota</option> 
          <option value='Mississippi'>Mississippi</option> 
          <option value='Missouri'>Missouri</option> 
          <option value='Montana'>Montana</option> 
          <option value='Nebraska'>Nebraska</option> 
          <option value='Nevada'>Nevada</option> 
          <option value='New Hampshire'>New Hampshire</option> 
          <option value='New Jersey'>New Jersey</option> 
          <option value='New Mexico'>New Mexico</option> 
          <option value='New York'>New York</option> 
          <option value='North Carolina'>North Carolina</option> 
          <option value='North Dakota'>North Dakota</option> 
          <option value='Ohio'>Ohio</option> 
          <option value='Oklahoma'>Oklahoma</option> 
          <option value='Oregon'>Oregon</option> 
          <option value='Pennsylvania'>Pennsylvania</option> 
          <option value='Rhode Island'>Rhode Island</option> 
          <option value='South Carolina'>South Carolina</option> 
          <option value='South Dakota'>South Dakota</option> 
          <option value='Tennessee'>Tennessee</option> 
          <option value='Texas'>Texas</option> 
          <option value='Utah'>Utah</option> 
          <option value='Vermont'>Vermont</option> 
          <option value='Virginia'>Virginia</option> 
          <option value='Washington'>Washington</option> 
          <option value='West Virginia'>West Virginia</option> 
          <option value='Wisconsin'>Wisconsin</option> 
          <option value='Wyoming'>Wyoming</option> 
        </select>
      <br/>
      <br/>
      <button type="button" style="height:50px;width:200px"  class="btn btn-secondary" onclick="LoadNextQuestion('save_form')">Next</button>
      <br />
      </div>
      </div>
    </div>

    <!--SAVE-->
    <div class="form-group" style="display: none" id="save_form">
      <hr class="mt-2 mb-3"/>
      <div class="container-2">
        <h2 class="centered-heading margin-bottom-32px">
          Would you like to save your data today?
        </h2>
      </div>
        <div align = "center">
          <div class="btn-group-lg" role="group" aria-label="Basic radio toggle button group">
            <input style = "appearance: none" onclick = "LoadNextQuestion('submit_button')" type="radio" class="btn-check" name="save" id = "save-yes" value = "1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="save-yes">Yes</label>
            <input style = "appearance: none" onclick = "LoadNextQuestion('submit_button')" type="radio" class="btn-check" name="save" id = "save-no" value = "0" autocomplete="off">
            <label class="btn btn-outline-primary" for="save-no">No</label>
          </div>
          <button type="submit" style = "display:none" id = "submit_button" class="btn btn-primary">Done</button>
        </div>
      </form>
    </div>

    <div align = center>
      <button type="button"onclick = "window.location.reload();" class="btn btn-primary">Reset</button>
    </div>
  </form>
</section>
{% endblock %}
