{% extends "base2.html" %} {% block title %}AirFlex{% endblock %} {% block content
%}
<div class="section cc-store-home-wrap">
    <div class="intro-header">
      <div class="intro-content cc-homepage">
        <div class="intro-text">
          <div class="heading-jumbo">AirFlex</div>
          <div class="paragraph-bigger">
            The world&#x27;s first AC usage progress tracker and
            calculator....<br />
          </div>
        </div>
        <div>
        <a
          href="aircalculator"
          class="button cc-jumbo-button cc-jumbo-white w-inline-block"
          ><div>Calculate your AC usage</div></a
        >
      </div>
      <br/>
      <div>
        <a
          href="fancalculator"
          class="button cc-jumbo-button cc-jumbo-white w-inline-block"
          ><div>Calculate your fan usage</div></a
        >
      </div>
      </div>
    </div>
  </div>
{% endblock %}
